@charset "gb2312";

.aboutcon{ color:#696969; }

.left span,.right span { font-weight: bold; }

.about{ width:740px;overflow: hidden;}

.about h2{ font-size:22px;margin-bottom:20px}

.about p{ margin-bottom:20px}

.about p a { font-size: 14px; }

.about p a:hover { color: #19A566; }

.information {padding-left: 5px; background: url(../images/r_line.jpg) repeat-y left; line-height:100%;}

.about_c,.about{margin:20px 0}

.about ul{ width:710px; letter-spacing:2px;}

.about_c{ padding:30px 0 0 10px; line-height:26px; }

.wechat_title{margin: 0px 0px 5px 10px; width:190px; border-bottom: 1px solid #ededed; text-align: center; letter-spacing: 2px;}

.wechat_title img{display: inline; width: 18px; margin-right: 10px;}

.wechat_code{margin-left:10px; width:180px; height:180px; line-height:180px; text-align: center; border:1px solid #ededed; padding: 5px;}

.wechat_code img{width:180px; height:180px; border:none;}